<h2>Edit a Gym Class</h2>
<form method="POST" action="/gymclasses/<%= @gymclass.id %>">
  <div>

    <div class="form-gen">
      <label for="class_name">Class Name:</label>
      <input type="text" name="class_name" id="class_name" value="<%= @gymclass.class_name %>"/>
    </div>

    <div class="form-gen">
      <label for="class_tier">Class Tier:</label>
      <input type="text" name="class_tier" id="class_tier" value="<%= @gymclass.class_tier %>"/>
    </div>

    <div class="form-gen">
      <label for="class_capacity">Class Capacity:</label>
      <input type='number' name="class_capacity" id="class_capacity" value="<%= @gymclass.class_capacity %>"/>
    </div>

    <div class="form-gen">
      <input type="submit" value="Edit Gym Class"/>
    </div>

  </div>
</form>
