<h1>Classes</h1>
<a href="/gymclasses/new">Add a New Gym Class</a>
<% @gymclasses.each do |gymclass| %>
<p><%= gymclass.class_name %></p>
<a href="/gymclasses/<%=gymclass.id%>">View Class Details</a>
<% end %>
