<h2>Add a Gym Class</h2>
<form method="POST" action="/gymclasses">
  <div>

    <div class="form-gymclass">
      <label for="class_name">Class Name:</label>
      <input type="text" name="class_name" id="class_name"/>
    </div>

    <div class="form-gymclass">
      <label for="class_tier">Class Tier:</label>
      <input type="text" name="class_tier" id="class_tier"/>
    </div>

    <div class="form-gymclass">
      <label for="class_capacity">Class Capacity:</label>
      <input type='number' name="class_capacity" id="class_capacity"/>
    </div>

    <div class="form-gymclass">
      <input type="submit" value="Add Gym Class"/>
    </div>

  </div>
</form>
