<h1> Members </h1>
<a href="members/new">Add a New Member</a>
<% @members.each do |member| %>
<p>Name: <%= member.pretty_name %></p>
<a href="members/<%= member.id %>">View Member Details</a>
<% end %>
