<h1> Members </h1>
<a href="members/new">Add a New Member</a>
<% @members.each do |member| %>
<p><%= member.first_name %></p>
<p><%= member.last_name %></p>
<p><%= member.member_type %></p>
<% end %>
