<h2>Add a New Member</h2>
<form method="POST" action ="/members">
  <div>

    <div class="form-member">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name"/>
    </div>

    <div class="form-member">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name"/>
    </div>

    <div class="form-member">
      <label for="wallet">Wallet:</label>
      <input type="number" name="wallet" id="walet"/>
    </div>

    <div class="form-member">
      <label for="member_type">Member Type:</label>
      <input type="text" name="member_type" id="member_type"/>
    </div>

    <div class="form-member">
      <input type="submit" value="Add Member"/>
    </div>

  </div>
</form>
