<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>MIKE'S GYM</title>
    <link rel="icon" href="/images/dumbbell.png" />
    <link rel="stylesheet" href="/styles/styles.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1>MIKE'S GYM</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/gymclasses">Classes</a></li>
        <li><a href="/bookings">Bookings</a></li>
      </ul>
    </nav>
    <main>
      <section>
      <%= yield %>
      </section>
    </main>
    <footer>
      <h6 style="color:white;">MIKES GYM COPYRIGHT Chris Jennings 2018</h6>
    </footer>
  </body>
</html>
