body {
  background: black url('/images/arnold.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: monospace;
}

a {
  text-decoration: none;
}

h2 {
  color: red;
}

#container {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

#header {
  color: gold;
  font-family: monospace;
  padding: 10px;
  font-size: 2em;
}

#content {
  padding: 10px;
}

#nav {
  width: 180px;
  float: left;
}

#nav ul li {
  text-decoration: none;
  list-style-type: none;
}

#nav a {
   text-decoration: none;
   color: black;
   display: block;
   background-color: #EEEEFF;
   margin-bottom: 2px;
   width: 7em;
   text-align: center;
}

#main {
  background-color: transparent;
  width: 600px;
  float: right;
  margin-bottom: 100px;
}


#footer {
    position: fixed;
    height: 50px;
    background-color: transparent;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    color: white;
    text-align: right;
    clear: both;
}

#add-button a {
 text-decoration: none;
 color: white;
 display: block;
 background-color: green;
 margin-bottom: 2px;
 width: 12em;
 text-align: center;
}

#view-button a {
  text-decoration: none;
  color: white;
  display: block;
  background-color: grey;
  margin-bottom: 2px;
  width: 12em;
  text-align: center;
}

#edit-button a {
  text-decoration: none;
  color: white;
  display: block;
  background-color: orange;
  margin-bottom: 2px;
  width: 12em;
  text-align: center;
}
