<h2>Add a New Booking</h2>

<form method="POST" action="/bookings">

<div class="form-gen">
  <label>Select a Member:
    <select name="member_id">
      <% for member in @members %>
      <option value="<%= member.id %>"><%= member.pretty_name %></option>
      <%end%>
    </select>
  </label>
</div>

<div class="form-gen">
  <label>Select a Gym Class:
    <select name="class_id">
      <% for gymclass in @gymclasses %>
      <option value="<%= gymclass.id %>"><%= gymclass.class_name %></option>
      <%end%>
    </select>
  </label>
</div>

  <input type="submit" value="Create Booking"/>
</form>
