<h2>Booking Details</h2>
<p>Member Name: <%=@member_at_booking.pretty_name%></p>
<p>Member Type: <%=@member_at_booking.member_type.capitalize%></p>
<p>Class Booked: <%=@class_at_booking.class_name%></p>
